@media (max-width: 1200px) {
  .div1_for_img_section {
    min-width: 100%;
    padding: 0;
  }
  .div1_for_img_section img,
  .div2_img_section img {
    max-width: 100%;
  }
  .form-spaceing {
    width: auto;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media (max-width: 1100px) {
  .contact-info_head.w-500 {
    width: auto;
  }
}
@media (min-width: 991px) {
  .case_study a:hover svg path,
  .case_study a:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
  }
  button.common_btn:hover {
    background-color: var(--white-color);
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
  }
  button.common_btn:hover span:first-child {
    padding-right: 15px;
  }
  button.common_btn:hover span svg path {
    stroke: var(--heading-color);
  }
  .blogs_parent_div button:hover {
    color: var(--primary-color);
  }
  .blogs_parent_div button:hover svg path {
    stroke: var(--primary-color);
  }
  .blogs_parent_div button:hover svg {
    padding-left: 15px;
  }
  .team_user_parent .card-footer a:hover span svg path,
  .team_user_parent .card-footer a:first-child:hover span svg path:last-child {
    fill: var(--heading-color);
  }
  .team_user_parent .card-footer span:hover svg path:last-child {
    fill: var(--white-color);
  }
  .team_user_parent .card-footer a:last-child:hover span svg path:first-child {
    fill: #0088cc;
  }
  .team_user_parent
    .card-footer
    a:nth-child(2):hover
    span
    svg
    path:first-child {
    fill: #1877f2;
  }
  .team_user_parent
    .card-footer
    a:nth-child(3):hover
    span
    svg
    path:first-child {
    fill: #0072b1;
  }
  .arow_circle a:hover {
    background-color: transparent;
    border: 1px solid var(--heading-color);
  }
  .arow_circle a:hover svg path {
    stroke: var(--heading-color);
  }
  .tab_wrapper .nav-link:hover {
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
  }
  .accordion-tittle:hover {
    background: rgba(244, 242, 242, 0.4);
    border: 1px solid rgba(244, 242, 242, 0.4);
  }
  .contact-info span:last-child:hover {
    color: var(--heading-color);
  }
  .followus_parent a span:hover svg path {
    fill: var(--heading-color);
  }
  .followus_parent span:first-child:hover svg path:last-child {
    fill: var(--white-color);
  }
  .address_wrapper a:hover {
    color: var(--black);
  }
  .address_wrapper a:hover span path {
    stroke: var(--black);
  }
}
@media (max-width: 991px) {
  .opened {
    overflow: hidden;
  }
  h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 38px;
    line-height: 43px;
    margin-bottom: 18px;
  }
  h4 {
    font-size: 28px;
    line-height: 36px;
  }
  h5 {
    font-size: 19px;
    margin-bottom: 4px;
  }
  .fs-26 {
    font-size: 22px;
    line-height: 37px;
  }
  .pt-23 {
    padding-top: 0;
  }
  .pb-130 {
    padding-bottom: 80px;
  }
  /* banner Mq */
  .pt-213 {
    padding-top: 175px;
  }
  .mxw-948 {
    max-width: auto;
  }
  .pb-35 {
    padding-bottom: 15px;
  }
  .pb-64 {
    padding-bottom: 32px;
  }
  .pt-40 {
    padding-top: 35px;
  }
  .pt-48 {
    padding-top: 0;
  }
  .cards4_wrapper,
  .tab_wrapper,
  .accordion_parent {
    padding-top: 32px;
  }
  /* banner mq ends */
  /* case study MQ for sub-head banner a */
  .case_study a {
    font-size: 17px;
  }
  .bg-gray {
    margin-bottom: 15px;
  }
  .pt-25 {
    padding-top: 35px;
  }
  /* case study MQ for sub-head banner a ends */
  /* image & content section MQ */
  .div1_for_img_section {
    min-width: auto;
    padding: 42.5px 0;
  }
  .div1_for_img_section img,
  .div2_img_section img {
    max-width: 100%;
  }
  .parentdivforcontent {
    padding-top: 50px;
  }
  .parentdivforcontent p {
    margin-bottom: 0;
  }
  /* team user MQ */
  .team_section_heading {
    width: auto;
  }
  .team_section_heading p {
    margin-bottom: 16px;
  }
  h5.card-title,
  .cards4_wrapper h5.card-title {
    font-size: 19px;
    line-height: 28px;
    margin: 12px 0;
  }
  .card-body {
    padding: 24px 18px 18px;
  }
  .card-footer {
    padding: 0 18px 20px;
  }
  .team_user_parent .card-body {
    padding: 12px 0;
  }
  .list-grp h5.card-title {
    font-size: 19px;
  }
  .list-grp p.card-text,
  .cards4_wrapper p.card-text,
  p.card-text {
    font-size: 15px;
    line-height: 22px;
  }
  .list-grp .card-body {
    padding: 22px;
  }
  /* tabbing MQ of 991 */
  .tab_wrapper .nav-link,
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    font-size: 16px;
    line-height: 24px;
  }
  .tab_box {
    margin: 14px 9px 0;
    padding: 14px 0;
  }
  .tab_box span {
    padding-top: 12px;
    font-size: 17px;
    line-height: 23px;
  }
  .faq_wrapper h3 {
    margin-bottom: 18px;
  }
  .accordion-button {
    padding: 18px;
  }
  .accordion-body {
    padding: 20px 20px 2px 20px;
  }
  .w-568 {
    width: auto;
  }
  .contact-info_head h4 {
    font-size: 28px;
    line-height: 35.994px;
  }
  .contact-info_head p {
    font-size: 15px;
    line-height: 23px;
    padding-top: 0;
  }
  .custom_col {
    padding: 0 6px;
    margin-bottom: 16px;
  }
  .contact-info_head h6 {
    font-size: 18px;
    line-height: 24px;
  }
  hr {
    margin: 16px 0;
  }
  .contact-info span {
    font-size: 15px;
    line-height: 20px;
  }
  .contact-info span small {
    font-size: 14px;
    line-height: 16px;
  }
  .accordion-tittle {
    padding: 15px;
    font-size: 17px;
    line-height: 22px;
  }
  .accordion-content {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .accordion-content strong {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
  }
  .address_wrapper .country h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .address_wrapper p {
    font-size: 16px;
    line-height: 23px;
    padding: 8px 0;
  }
  .address_wrapper a {
    font-size: 17px;
    line-height: 22px;
    margin-top: 8px;
  }
  .followus_parent span {
    font-size: 18px;
    line-height: 24px;
  }
  .footer_detail p {
    font-size: 15px;
    line-height: 22px;
  }
  .footer_list h6 {
    margin-bottom: 10px;
  }
  .footer_list li a {
    font-size: 14px;
    line-height: 18px;
  }
  .copyright span {
    font-size: 14px;
    line-height: 18px;
  }
  .max_width_container {
    width: calc(100% - 60px);
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 33px;
    line-height: 35px;
    margin-bottom: 11px;
  }
  h4 {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 13px;
    line-height: 18px;
  }
  .pb-35 {
    padding-bottom: 10px;
  }
  .pt-40 {
    padding-top: 15px;
  }
  .pb-130 {
    padding-bottom: 45px;
  }
  .pb-64 {
    padding-bottom: 24px;
  }
  .pt-213 {
    padding-top: 140px;
  }
  .fs-26 {
    font-size: 17px;
    line-height: 26px;
  }
  .pt-25 {
    padding-top: 25px;
  }
  .bg-gray {
    margin-bottom: 15px;
    padding: 21px 0;
    min-width: auto;
    min-height: auto;
  }
  .case_study a {
    font-size: 14px;
  }
  .case_study svg {
    width: 19px;
    height: 19px;
  }
  .parentdivforcontent {
    padding-top: 35px;
  }
  .parentdivforcontent p {
    font-size: 14px;
    line-height: 21px;
  }
  button.common_btn {
    padding: 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
  }
  .arow_circle a {
    width: 32px;
    height: 32px;
  }
  .team_section_heading p {
    margin-bottom: 11px;
  }
  h5.card-title,
  .cards4_wrapper h5.card-title {
    font-size: 17px;
    line-height: 25px;
  }
  .list-grp p.card-text,
  .cards4_wrapper p.card-text,
  p.card-text {
    font-size: 14px;
    line-height: 21px;
  }
  .team_user_parent .card-body {
    padding: 10px 0;
  }
  .list-grp .card-body {
    padding: 15px;
  }
  .arow_circle {
    margin-bottom: 8px;
  }
  h5.card-title,
  .cards4_wrapper h5.card-title {
    margin: 8px 0;
  }
  .tab_wrapper .nav-link,
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    font-size: 15px;
    line-height: 21px;
  }
  .tab_wrapper .nav-link {
    padding: 4px 12px 4px 12px;
  }
  .cards4_wrapper,
  .tab_wrapper,
  .accordion_parent {
    padding-top: 19px;
  }
  .tab_box span {
    padding-top: 8px;
    font-size: 15px;
    line-height: 20px;
  }
  .team_section_heading p {
    font-size: 15px;
  }
  .accordion-tittle {
    font-size: 15px;
    line-height: 21px;
    padding: 12px;
  }
  .accordion-item {
    margin-bottom: 12px;
  }
  .accordion-content strong {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 21px;
  }
  .accordion-content {
    padding: 12px;
    font-size: 13px;
    line-height: 19px;
  }
  .contact-info_head h4 {
    font-size: 25px;
    line-height: 30px;
  }
  .contact-info_head p {
    font-size: 14px;
    line-height: 21px;
  }
  hr {
    margin: 12px 0;
  }
  .contact-info_head h6 {
    font-size: 17px;
    line-height: 23px;
  }
  .contact-info span small {
    font-size: 13px;
  }
  .contact-info span {
    font-size: 14px;
    line-height: 20px;
  }
  .followus_parent span {
    font-size: 16px;
    line-height: 21px;
  }
  .custom_col {
    width: 50%;
    margin-bottom: 14px;
  }
  .contact_form_wrapper .col-lg-6:first-child {
    border-right: none;
  }
  form input.form-control,
  form input::placeholder {
    font-size: 14px;
  }
  .address_wrapper .country h6 {
    font-size: 17px;
    line-height: 21px;
  }
  .address_wrapper p {
    font-size: 14px;
    line-height: 21px;
  }
  .address_wrapper a {
    font-size: 15px;
    line-height: 20px;
    margin-top: 4px;
  }
  .footer_list h6 {
    font-size: 15px;
  }
  .footer_list li a {
    font-size: 13px;
    padding: 3px 0;
  }
  .copyright span {
    font-size: 13px;
  }
  .tab_box {
    width: 23%;
  }
}
@media (max-width: 576px) {
  .pt-sm-25 {
    padding-top: 25px;
  }
  .pb-130 {
    padding-bottom: 35px;
  }
  .navbar,
  header.sticky .navbar {
    padding: 20px 0;
  }
  .pt-213 {
    padding-top: 120px;
  }
  .tab_box {
    width: 33.3%;
  }
  .img_layout {
    padding-top: 25px;
  }
  .col-sm-6:first-child .img_layout {
    padding-top: 0;
  }
  footer .col:first-child {
    width: 100%;
    padding-top: 0;
  }
  footer .col {
    width: 50%;
    padding-top: 15px;
  }
  form .col-12 {
    margin-top: 20px;
  }
  .contactus_wrapper .col-12 {
    margin-bottom: 20px;
  }
  .contactus_wrapper .col-12:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
  h5 {
    font-size: 17px;
    margin-bottom: 0;
  }
  .fs-26 {
    font-size: 17px;
    line-height: 25px;
  }
  .bg-gray {
    margin-bottom: 10px;
  }
  .case_study a {
    font-size: 13px;
  }
  .case_study svg {
    width: 16px;
    height: 16px;
  }
  .tab_wrapper li.nav-item{
    width: 25%;
  }
}
@media (max-width:515px) {
  .tab_wrapper li.nav-item{
    /* width: 50%; */
  }
}
@media (max-width:540px) {
  .tab_wrapper li.nav-item{
    width: 47%;
  }
  .tab_wrapper .nav-link, 
  .nav-pills .nav-link.active, 
  .nav-pills .show > .nav-link{
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
  }
  .tab_wrapper ul{
    justify-content: space-between;
  }
}
@media (max-width: 493px) {
  li.nav-item:last-child {
    /* margin-top: 12px; */
  }
}

@media (max-width: 425px) {
  button.btn {
    display: none;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .fs-26 {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 400px) {
  .tab_box {
    width: 70%;
  }
}
@media (max-width: 382px) {
  li.nav-item:nth-child(3) {
    /* margin-top: 12px; */
  }
}