/* css starts for applocum case study */
.bg-gray {
  padding: 34px 0px 21px 0px;
  background-color: var(--bg-gray);
  margin-bottom: 28px;
  text-align: center;
  min-width: 175px;
  min-height: 175px;
}
.case_study a {
  font-size: 20px;
  font-family: "Inter-Medium";
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.12px;
  color: var(--heading-color);
}
.case_study span {
  margin-left: 8px;
}
.col_img.col_img .col-lg-4 {
  padding: 0 37.5px;
}
.col_img .row {
  margin: 0 -37.5px;
}
/* css ends for applocum case study */

/* css starts for image & side content */
.pd-x-40 .col-lg-6 {
  padding: 0 40px;
}
.pd-x-40 .row {
  margin: 0 -40px;
}
.div1_for_img_section {
  min-width: 560px;
  background-color: rgba(223, 229, 238, 1);
  padding: 86.5px 0;
  text-align: center;
}
.parentdivforcontent p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: var(--grey-light-text);
  margin-bottom: 20px;
}
button.common_btn {
  padding: 12px 18px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  background-color: var(--heading-color);
  width: fit-content;
  margin-top: 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  color: var(--white-color);
  font-size: 15px;
  font-family: "Inter-SemiBold";
  font-weight: 600;
  line-height: 22px;
}
button.common_btn span:first-child {
  padding-right: 6px;
  transition: all 0.3s ease-in-out;
}
.pd-x-54 .col-lg-6 {
  padding: 0 45px;
}
.pd-x-54 .row {
  margin: 0 -45px;
}

/* css ends for image & side content  */
/* css for cards starts */
.card {
  border-radius: 10px;
  border: 1px solid var(--bg-gray);
}
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.article_date span {
  font-family: "Inter-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.article_date span article {
  border: 1px solid var(--primary-bg);
  padding: 4px 12px;
  background-color: var(--primary-bg);
  color: var(--heading-color);
  border-radius: 5px;
}
.article_date span.date {
  color: var(--grey-light-text);
  padding-left: 16px;
}
.card-body {
  padding: 24px 32px;
}
.profile {
  top: -28px;
  right: 21px;
}
.profile img {
  border-radius: 50%;
}
h5.card-title {
  font-family: "Inter-SemiBold";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin: 16px 0;
}
p.card-text {
  font-family: "Inter-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: var(--grey-light-text);
}
.card-footer {
  background-color: transparent;
  border-top: 0;
  padding: 0 32px 24px;
  transition: all 3s ease-in-out;
}
.blogs_parent_div button {
  background-color: transparent;
  border: transparent;
  color: var(--heading-color);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Inter-SemiBold";
  transition: all 1s ease;
}
.blogs_parent_div button svg path {
  stroke: var(--heading-color);
}
.blogs_parent_div button svg {
  padding-left: 6px;
  width: auto;
  transition: all 1s ease;
}
/* css for cards ends */
/* team user css starts */
.team_section_heading {
  width: 800px;
  margin: auto;
}
.team_section_heading p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: var(--grey-light-text);
  margin-bottom: 16px;
}
.team_user_parent .card {
  border: transparent;
}
.team_user_parent .card-img-top {
  border-radius: 5px;
}
.team_user_parent .card-body {
  padding: 16px 0;
}
.team_user_parent .card-footer {
  padding: 0;
  margin: 0 -8px;
}
.team_user_parent .card-footer span {
  padding: 0 8px;
}
/* team user css ends */
/* process list css starts */
.list-grp .col {
  padding: 0 30px;
}
.list-grp .row {
  margin: 0 -30px;
}
.list-grp .card-body {
  padding: 32px 24px;
}
.list-grp .card {
  box-shadow: 0px 2px 8px 0px rgba(42, 42, 43, 0.06);
}
.list-grp h5.card-title {
  margin: 0;
}
.arow_circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}
.arow_circle a {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 50%;
  display: flex;
}
.arow_circle a svg {
  margin: auto;
}
.arow_circle a svg path {
  stroke: var(--black);
}

/* process list css ends */
/* industries card css starts  */
.cards4_wrapper {
  padding-top: 41px;
}
img.w_64-h_64 {
  width: 64px;
  height: 64px;
}
.cards4_wrapper .card-body {
  padding: 8px 0 0 0;
  display: flex;
  flex-direction: column;
}
.cards4_wrapper h5.card-title {
  margin-bottom: 13px;
  font-family: "Inter-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--black_color);
}
.cards4_wrapper p.card-text {
  font-size: 18px;
  line-height: 24px;
  color: #909090;
  flex: 1;
}
/* industries card css ends  */
/* tabbings css starts */
.tab_wrapper {
  padding-top: 38px;
}
.tab_wrapper ul {
  justify-content: center;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border: 1px solid var(--heading-color);
  color: var(--heading-color);
  background-color: var(--white-color);
  border-radius: 4px;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 4.18px 16.16px 4.2px 17px;
}
.tab_wrapper .nav-link {
  padding: 4.18px 16.97px 4.2px 17px;
  border-radius: 4px;
  border: 1px solid #000;
  color: #000;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

ul.nav-pills {
  margin-bottom: 14px;
}
.tab_wrapper button {
  margin: 0 7.5px;
}
.tab_box {
  border-radius: 6px;
  background: var(--white-color);
  box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
  border: 1px solid var(--bg-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  margin: 16px 12px 0;
  padding: 16px 0;
}
.tab_box span {
  padding-top: 16px;
  color: #3c4858;
  text-align: center;
  font-family: "Inter-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
  display: block;
  height: 0;
  overflow-y: hidden;
}
/* tabbings css ends */
/* accordion starts */
.faq_wrapper h3 {
  margin-bottom: 28px;
}
.accordion_parent {
  padding-top: 38px;
}
.accordion-item {
  margin-bottom: 16px;
}
.accordion-item:last-child {
  margin-bottom: 0;
}
.accordion-tittle {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--neutral-light-neutral, #f4f2f2);
  background: var(--white-color);
  cursor: pointer;
  font-family: "Inter-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: #243752;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  border-radius: 16px;
  background: var(--acc-bg);
  padding: 24px;
  margin-top: 16px;
  font-family: "Inter-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #061c3d;
  display: none;
}
.accordion-tittle img {
  transition: all 1s ease;
}
.accordion-tittle.active .accordion-content {
  display: block;
}
.accordion-tittle.active img {
  transform: rotate(180deg);
}
.accordion-content strong {
  display: block;
  margin-bottom: 24px;
  font-family: "Inter-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: #061c3d;
}
/* accordion ends */
/* contact & form css starts */
.contact_form_wrapper .col-lg-6.col-md-6 {
  padding: 0 35px;
}
.contact_form_wrapper .row.margin_minus {
  margin: 0 -35px;
}
.contact-info {
  display: flex;
}
.contact_form_wrapper .col-lg-6:first-child {
  border-right: 1px solid var(--border-color);
}
.contact-info_head.w-500 {
  width: 500px;
}
.contact-info_head h4 {
  font-family: "Inter-SemiBold";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 47.994px;
  color: var(--contact-text);
}
.contact-info_head p {
  color: var(--detail-text);
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
  padding-top: 2px;
}
hr {
  margin: 32px 0 16px;
  color: var(--border-color) !important;
  opacity: 1;
}
.contact-info_head h6 {
  color: var(--contact-text);
  font-family: "Inter-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.contact-info img {
  border-radius: 50%;
}
.contact-info span {
  display: block;
  color: var(--contact-text);
  font-family: "Inter-SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-left: 12px;
  cursor: pointer;
}

.contact-info span small {
  color: var(--detail-text);
  font-family: "Inter-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.followus_parent {
  display: flex;
  justify-content: space-between;
}
.followus_parent span {
  color: #121212;
  font-family: "Inter-SemiBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  display: block;
}
.followus_parent a {
  display: flex;
  align-items: center;
}
.followus_parent a span {
  margin: 0 10px;
}
/* contact & form css ends */
/* form css starts */
/* custom col css */
.margin_minus_16 {
  margin: 0 -16px;
}
.w-532 {
  width: 532px;
}
.form-spaceing {
  margin-right: -24px !important;
  margin-left: auto !important;
}
.custom_col {
  padding: 0 16px;
  margin-bottom: 32px;
  width: 50%;
}
.custom_col:nth-child(6) {
  border-bottom: 1px solid var(--border-color);
}
form input,
textarea {
  color: var(--detail-text);
  font-family: "Inter-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
form input::placeholder {
  color: var(--detail-text);
  font-family: "Inter-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
form input.form-control {
  padding: 22px 21px;
  border-radius: 80px;
  border: transparent;
  background-color: var(--bg-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.form-floating textarea.form-control {
  width: 100%;
  height: 142px !important;
  resize: none;
  border-radius: 42px;
  border: transparent;
  background-color: var(--bg-gray);
}
.border_left {
  border-left: 1px solid var(--bg-gray);
}
.form-control:focus {
  color: var(--detail-text);
  background-color: var(--bg-gray);
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
/* address of india & uk css starts */
.contactus_wrapper .col-lg-4 {
  padding: 0 26px;
}
.contactus_wrapper .row {
  margin: 0 -26px;
}
.address_wrapper {
  border-radius: 8.673px;
  background: var(--white-color);
  box-shadow: 0px 0px 4.336734771728516px 0px rgba(60, 72, 88, 0.15);
  padding: 17px 10px 18px 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.address_wrapper .country h6 {
  color: var(--black);
  font-family: "Inter-SemiBold";
  font-size: 28.912px;
  font-style: normal;
  font-weight: 600;
  padding-left: 6px;
  line-height: 40.476px;
}
.address_wrapper p {
  color: var(--black);
  font-size: 20px;
  line-height: 32px;
  padding: 12px 0;
  flex: 1 1 auto;
}
.address_wrapper a {
  color: var(--heading-color);
  font-family: "Inter-Regular";
  font-size: 23px;
  font-weight: 400;
  line-height: 34.694px;
  margin-top: 12px;
  display: block;
  text-transform: capitalize;
}
.address_wrapper a span {
  padding-left: 8px;
}
.address_wrapper a span path {
  stroke: var(--heading-color);
  width: auto;
}
