:root {
    --primary-color: #19213d;
    --secondary-color: #667394;
    --heading-color: #4ba9ff;
    --white-color: #fff;
    --bg-gray: #f2f4f8;
    --grey-text:#272D37;
    --grey-light-text:#5F6D7E;
    --primary-bg:#F5FAFF;
    --black:#1C1F23;
    --black_color:#333333;
    --contact-text:#121212;
    --detail-text:#787878;
    --acc-bg:#F9F9F9;
    --border-color:#E6E6E6;
    --careers-heading-color:#392761;
    --sub-text-black:#0F0F0F;
    --p-text-black:#101828;
    --element-grey-text:#A6A6A6;
    --sub-tittle-text:#3D3D3D;
    --location:#8F8F8F;
    --aboutus:#13161D;
    --aboutus-rgba:rgba(19, 22, 29, 0.75); 
    --red-color:#EA4436;
    --box-shadow: rgba(60, 72, 88, 0.15);
  }
  html {
    scroll-behavior: smooth;
  }
  